<%= form_with model: @flight do |f| %>
<div>
Create a Flight:
<%= f.label :flight_number %>
<%= f.text_field :flight_number %>
</div><br>

<div>
<%= f.label :date_of_flight %>
<%= f.date_field :date_of_flight %>
</div><br>
<div>
<%= f.label :flight_time %>
<%= f.time_field :flight_time %>
</div><br>

<div>
Assign Pilot:
<%= f.collection_select(:pilot_id, Pilot.all, :id, :name, :prompt => "Please Select a Pilot") %>
</div><br>




<div>
Choose Destination:
<%= f.collection_select(:destination_id, Destination.all, :id, :name, :prompt => "Please Select a Destination City") %>
</div><br>

<div>
Add Passengers:
<ol>
<%= f.fields_for :passengers do |passenger|%>
    <li>
        <%= passenger.label :name%>
        <%= passenger.text_field :name%>
    </li>
    

<% end %>
</ol>
</div>
<%= f.submit 'Save Changes' %>

<% end %>

<%= link_to 'Back', flights_path(current_user) %>