<%= link_to 'Home Screen', user_path(current_user)%>
<h2>Flight Number: <%= @flight.flight_number%></h2>
<div>

<h3>Destination: <%= @flight.dest_name %></h3>
<h3>Pilot: <%= @flight.pilot_name %></h3>
</div>


<div>
    Passneger Manifest:
    <ol>
        
        <% @flight.passengers.each do |pass|%>
            <h4><li><%= pass.name %></li></h4>
        <% end %>
    </ol>
</div>


