<div>
<%= link_to 'Back', user_path(current_user) %>
</div><br>
<div>
<%= form_tag(search_pilot_path, :method => "get") do %>
    <%= label_tag(:search, "Which pilot are you looking for?") %>
    <%= search_field_tag(:search, params[:search], placeholder: "Search") %>
    <%= submit_tag 'Search', name: nil %>
<% end %>
</div>

<h1>Current Pilot Roster</h1>
<h2><%= link_to 'Add a Pilot', new_pilot_path  %></h2>

<div>
<ol>
<% @pilots.each do |pilot|%>
   
    <% if current_user.admin %>
        <h3><li>Rank: <%= pilot.rank %> / Name: <%= pilot.name %> | <%= link_to 'Edit', edit_pilot_path(current_user, pilot) %> |  <%= link_to 'Delete',user_pilot_path(current_user, pilot), method: :delete %></li></h3>
           
    <% else %>
        <h3><li>Rank: <%= pilot.rank %> / Name: <%= pilot.name %></li></h3>
           
    <% end %>
<% end %>
</ol>
</div>

<div>
<%= link_to 'Back', user_path(current_user) %>
</div>