<div class ="container-fixed">
    <div class='options'>
    <p>Authorized Desitinations</p>
    <p><%= link_to 'Back', user_path(current_user) %></p>
    <p><%= link_to 'Add a destination', new_user_destination_path %></p>
    </div>
    <div class='content'>
    
    

    <div class='destinations'>
    <ul>
    <% @destinations.each do |destination|%>
        <% if current_user.admin %>
            <h3><li><%= link_to destination.name, user_destination_path(current_user, destination) %>(<%= destination.flights.count %>) | <%= link_to 'Edit', edit_user_destination_path(current_user, destination) %> | <%= link_to 'Delete',user_destination_path(current_user, destination), method: :delete %></li></h3>
        <% else %>
            <h3><li><%= link_to destination.name, user_destination_path(current_user, destination) %>(<%= destination.flights.count %>)</li></h3>
        <% end %>
    <% end %>
    </ul>
    </div>
    
    </div>
    <div class='options'>
    <p><%= link_to 'Back', user_path(current_user) %></p>
    </div>
</div>