<h1>Authorized Desitinations</h1>
<h2><%= link_to 'Add a destination', new_user_destination_path  %></h2>

<div>
<ol>
<% @destinations.each do |destination|%>
    <% if current_user.admin %>
        <h3><li><%= destination.name %> | <%= link_to 'Edit', edit_user_destination_path(current_user, destination) %> |  <%= link_to 'Delete',user_destination_path(current_user, destination), method: :delete %></li></h3>
    <% else %>
        <h3><li><%= destination.name %></li></h3>
    <% end %>
<% end %>
</ol>
</div>

<%= link_to 'Back', user_path(current_user) %>